.no-scroll {
    overflow: hidden;
  }
  

.title{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    width: fit-content;
    font-size: 38px;
    text-align: center;
}

.title::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 50%; /* 横線の幅 */
    height: 4px; /* 縦線の高さ */
    background-color: #BCE2E8; /* 縦線の色 */
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}


.header-inner{
    padding: 10px 20px 10px 40px;
}

.header-items{
    display: flex;
    gap: 75px;
    text-align: center;
    justify-content: flex-end;
}

.header-item{
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

@media (max-width: 768px) {
    .header-item{
        display: none;
      }
  }

/* ハンバーガーメニュー */
@media (min-width: 769px) {
    .drawer-icon{
        display: none;
      }
  }
@media (max-width: 768px) {
    .header-content{
        display: flex;
        justify-content: flex-end;
      }
  }
@media (max-width: 768px) {
    .drawer-icon{
        background: #fff;
        border: none;
        width: 36px;
        height: 21px;
        position: relative;
        z-index: 51;
      }

      .drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
        top: 10px;
        -webkit-transform: rotate(30deg);
                transform: rotate(30deg);
      }
      .drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
        display: none;
      }
      .drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
        top: 10px;
        -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
      }
  }
  @media (max-width: 768px) {
    .drawer-icon__bar{
        position: absolute;
        top: 0;
        left: 0;
        width: 36px;
        height: 4px;
        border-radius: 6px;
        background: #111;
        -webkit-transition: top 0.3s linear, -webkit-transform 0.3s linear;
        transition: top 0.3s linear, -webkit-transform 0.3s linear;
        transition: transform 0.3s linear, top 0.3s linear;
        transition: transform 0.3s linear, top 0.3s linear, -webkit-transform 0.3s linear;
     
     
        &:nth-of-type(2){
         top: 9px;
        }
        &:nth-of-type(3){
         top: 18px;
        }
       }
  }

  @media (max-width: 768px) {
    .drawer-content {
      margin-top: 43px;
      width: 320px;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      background: #BCE2E8;
      z-index: 50;
      padding: 86px 40px 40px 40px;
      transform: translateX(100%);
      transition: transform 0.3s linear;
    }
  
    .drawer-content.is-checked {
      transform: translateX(0);
    }

    .drawer-content__menu{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .drawer-content__link{
        font-size: 30px;
        text-decoration: none;
        color: #111;
    }
  }

  

/* LPセクション */
.LP-inner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    transition: background-color 1s;
}  

@media (max-width: 768px) {
    .LP-inner{
        height: calc(100vh * 0.6);
      }
  }

.LP-content{
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .LP-content{
        flex-direction: column;
        gap: calc( 50 / 768 * 100%);
      }
  }


.LP-text{
    opacity: 0;
    transform: translateX(-100px); /* 左に100px移動した状態から開始 */
    transition: opacity 1s ease-out, transform 1s ease-out; /* フェードインと移動のトランジション */
}

.fade-in {
    opacity: 1;
    transform: translateX(0); /* 元の位置に移動 */
}



.LP-title{
    color: #000;
    font-family: Inter;
    font-size: clamp(50px, 8vw, 110px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: fit-content;
}

.LP-subtitle{
    color: #000;
    font-family: Inter;
    margin-left: 30px;
    font-size: clamp(10px, 3vw, 40px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    display: inline-block;
}

.LP-subtitle::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: calc(8 / 1440 * 100vw); /* 縦線の幅 */
    height: 100%; /* 縦線の高さ */
    background-color: black; /* 縦線の色 */
    top:-2px;
    left:-20px; 
}

.LP-img{
    width: 686px;
    max-width: 686px;
    min-width: 150px;
    position: relative;
}

img {
    width: 100%;
  }
  
  @media (max-width: 1330px) {
    .LP-img {
      width: calc(686 / 1330 * 100vw);
    }
  }
  
  @media (max-width: 768px) {
    .LP-img {
        width: calc(686 / 1330 * 100vw);
    }
  }
  

.LP-click{
    position: absolute;
    right: calc(320 / 686 * 100%);
    bottom: calc(160 / 686 * 100%);
}

.button-items{
    position: absolute;
    right: calc(100 / 686 * 100%);
    bottom: calc(280 / 686 * 100%);
    display: flex;
    gap: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 5s, visibility 5s; /* 2秒かけて表示 */
}
@media (max-width: 768px) {
    .button-items{
        right: calc(100 / 768 * 100%);
        bottom: calc(280 / 686 * 100%);
        gap: calc(20 / 768 * 100vw);
    }
  }

.button-item{
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    width: 150px;
    min-width: 10px;
    height: 150px;
    max-height: 150px;
    min-height: 10px;
    color: #000;
    text-decoration: none;
    text-align: center;
    border: solid #000;
}

@media (max-width: 1330px) {
    .button-item{
      width: calc(150 / 1330 * 100vw);
      height: calc(150 / 1330 * 100vw);
    }
  }

.button-item:hover {
box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
transform: scale(1.2);
}

.button-red{
    background: #FFA07A;
}

.button-blue{
    background: #BCE2E8;
}
.button-green{
    background: #9ACD32;
}

.active-red{
    background-color: #FFA07A;
}
.active-blue{
    background-color: #BCE2E8;
}
.active-green{
    background-color: #9ACD32;
}

.active-red1:hover{
    color: #FFA07A;
}
.active-blue1:hover{
    color: #BCE2E8;
}
.active-green1:hover{
    color: #9ACD32;
}
.active-red2:after{
    background-color: #FFA07A;
}
.active-blue2:after{
    background-color: #BCE2E8;
}
.active-green2:after{
    background-color: #9ACD32;
}


/* aboutセクション */
.about-inner{
    padding-top: 94px;
    padding-bottom: 94px;
    background: rgba(187, 187, 187, 0.05);
}

.about-content{
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 1330px) {
    .about-content{
        padding-left: calc(190 / 1330 * 100vw);
        padding-right: calc(190 / 1330 * 100vw);
    }
  }

.about-title{
    margin-left: auto;
    margin-right: auto;
}

.about-intro{
    display: flex;
    gap: 165px;
    margin-top: 60px;
}

@media (max-width: 768px) {
    .about-intro{
        gap: calc(165 / 1000 * 100vw);
    }
  }


.about-intro-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.about-intro-img{
    min-width: 40px;
    max-width: 315px;
    width: calc(315 / 1330 * 100vh);
}

.about-intro-item{
    font-size: 20px;
    font-style: normal;
    font-weight: 400; 
}

@media (max-width: 768px) {
    .about-intro-item{
        font-size: 15px;
    }
  }

.about-explain{
    margin-top: 50px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

@media (max-width: 768px) {
    .about-explain{
        font-size: 15px;
    }
  }

.create-inner{
    padding-top: 94px;
    padding-bottom: 94px;
}

.create-title{
    margin-left: auto;
    margin-right: auto;
}

.skills-inner{
    padding-top: 94px;
    padding-bottom: 94px;
    background: rgba(187, 187, 187, 0.05);
}

.skills-content{
    padding-left: 360px;
    padding-right: 360px;
}

@media (max-width: 1330px) {
    .skills-content{
        padding-left: calc(360 / 1330 * 100vw);
        padding-right: calc(360 / 1330 * 100vw);
    }
  }

  @media (max-width: 768px) {
    .skills-content{
        padding-left: calc(190 / 1330 * 100vw);
        padding-right: calc(190 / 1330 * 100vw);
    }
  }

.skills-title{
    margin-left: auto;
    margin-right: auto;
}

.skills-text{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.skill-text-item{

}

.skill-text-item-main{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.skill-text-item-sub{
    margin-top: 8px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.sns-inner{
    padding-top: 94px;
    padding-bottom: 94px;
}

.sns-title{
    margin-left: auto;
    margin-right: auto;
}

.sns-items{
    margin-top: 80px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.sns-icon{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sns-text{
    color: #000;
}

.sns-icon img{
    width: 50px;
    height: 50px;
}

.footer-inner{
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-text{
    text-align: center;
}

.page-top {
    position: fixed;
    right: 20px;
    bottom: 40px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    transform: rotate(90deg);
    font-size: 25px;
    line-height: 1.5rem;
    color: #737373;
    padding: 10px 0 0 35px;
    border-top: solid 3px;
     /*デフォルトで非表示にする*/
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s; /* 2秒かけて表示 */
}
.page-top::before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    width: 20px;
    border-top: solid 3px;
    transform: rotate(35deg);
    transform-origin: left top;
}

.active{
    opacity: 1;
    visibility: visible;
  }
